.page-404
	.container
		.wrapper-404
			.title-404
				p.signal Oops, This Page Could Not Be Found!
				span.sub The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
				p.warning 404
				button.btn.btn-404(onclick="window.location.href='index.html'")
					span HOME

