.section.background-opacity.page-title.set-height-top
   .container
      .page-title-wrapper
         //.page-title-content
         h2.captions
            | all categories
         ol.breadcrumb
            li
               a(href='index.html') Home
            li.active
               a(href='#') Categories
.section
   !=partial("_includes/form-search")
.section.section-padding.list-categories
   .container
      .list-categories-wrapper
         .top-content
            .result-output
               p.result-count Showing <strong>1-6</strong> of total <strong>12</strong> courses
         .list-categories-content.row
            .customs-row
               .col-md-4.col-sm-6
                  .edugate-layout-3
                     .edugate-layout-3-wrapper
                        a(href='#').edugate-image
                           img.img-responsive(src='assets/images/categories/categories-1.jpg' alt='')
                        .edugate-content
                           a(href='#').title
                              | language
                           .description
                              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                           .total-courses
                              i.fa.fa-list
                              a(href='#') total courses 92
                           button.btn.btn-green
                              span all course
               .col-md-4.col-sm-6
                  .edugate-layout-3
                     .edugate-layout-3-wrapper
                        a(href='#').edugate-image
                           img.img-responsive(src='assets/images/categories/categories-2.jpg' alt='')
                        .edugate-content
                           a(href='#').title
                              | software
                           .description
                              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                           .total-courses
                              i.fa.fa-list
                              a(href='#') total courses 92
                           button.btn.btn-green
                              span all course
               .col-md-4.col-sm-6
                  .edugate-layout-3
                     .edugate-layout-3-wrapper
                        a(href='#').edugate-image
                           img.img-responsive(src='assets/images/categories/categories-3.jpg' alt='')
                        .edugate-content
                           a(href='#').title
                              | social media
                           .description
                              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                           .total-courses
                              i.fa.fa-list
                              a(href='#') total courses 92
                           button.btn.btn-green
                              span all course
            .customs-row
               .col-md-4.col-sm-6
                  .edugate-layout-3
                     .edugate-layout-3-wrapper
                        a(href='#').edugate-image
                           img.img-responsive(src='assets/images/categories/categories-4.jpg' alt='')
                        .edugate-content
                           a(href='#').title
                              | photography
                           .description
                              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                           .total-courses
                              i.fa.fa-list
                              a(href='#') total courses 92
                           button.btn.btn-green
                              span all course
               .col-md-4.col-sm-6
                  .edugate-layout-3
                     .edugate-layout-3-wrapper
                        a(href='#').edugate-image
                           img.img-responsive(src='assets/images/categories/categories-5.jpg' alt='')
                        .edugate-content
                           a(href='#').title
                              | business
                           .description
                              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                           .total-courses
                              i.fa.fa-list
                              a(href='#') total courses 92
                           button.btn.btn-green
                              span all course
               .col-md-4.col-sm-6
                  .edugate-layout-3
                     .edugate-layout-3-wrapper
                        a(href='#').edugate-image
                           img.img-responsive(src='assets/images/categories/categories-6.jpg' alt='')
                        .edugate-content
                           a(href='#').title
                              | communication
                           .description
                              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                           .total-courses
                              i.fa.fa-list
                              a(href='#') total courses 92
                           button.btn.btn-green
                              span all course
            nav.pagination.col-md-12
               ul.pagination__list
                  li
                     a.pagination__previous.btn-squae.disable(rel='prev', href='#')
                        | &#8249;
                  li
                     span.pagination__page.btn-squae.active 1
                  li
                     a.pagination__page.btn-squae(href='#') 2
                  li
                     a.pagination__page.btn-squae(href='#')
                        | ...
                  li
                     a.pagination__page.btn-squae(href='#') 14
                  li
                     a.pagination__next.btn-squae(rel='next', href='#')
                        | &#8250;

