.section.background-opacity.page-title.set-height-top
   .container
      .page-title-wrapper
         //.page-title-content
         h2.captions
            | all categories
         ol.breadcrumb
            li
               a(href='index.html') Home
            li.active
               a(href='#') Categories
.section
   !=partial("_includes/form-search")
.section.section-padding.courses
   .container
      .group-title-index

         h2.center-title
            | Language courses
         h4.top-title
            | Having over <b>7 million students</b> worldwide and more than <b>30,000 online courses</b>
         //.bottom-title
            i.bottom-icon.icon-a-1-01
      .courses-wrapper
         // Nav tabs
         .row.top-content
            .col-md-3
               .result-output.text-left
                  p.result-count Showing <strong>1-6</strong> of total <strong>12</strong> courses
            .col-md-6
               ul.nav.nav-tabs.edugate-tabs(role='tablist')
                  li.active(role='presentation')
                     a(href='#campus', data-toggle='tab') Campus
                  li(role='presentation')
                     a(href='#education', data-toggle='tab') Education
                  li(role='presentation')
                     a(href='#building', data-toggle='tab') Building
                  li(role='presentation')
                     a(href='#teachers', data-toggle='tab') Teachers
                  li(role='presentation')
                     a(href='#students', data-toggle='tab') Students
            .col-md-3
               ul.btn-list-grid.list-unstyled.text-right
                  li.active
                     button.btn-grid
                        i.fa.fa-th-large
                  li
                     button.btn-list
                        i.fa.fa-th-list

         // Tab panes
         .tab-content.courses-content
            #campus.tab-pane.fade.in.active(role='tabpanel')
               .style-show.style-grid.row
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-80
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-4.jpg' alt='')

                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-60
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less

                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/categories/categories-1.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-60
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-2.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-40
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-1.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-30
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-3.jpg' alt='')

                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-10
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/categories/categories-4.jpg' alt='')
                  nav.pagination.col-md-12
                     ul.pagination__list
                        li
                           a.pagination__previous.btn-squae.disable(rel='prev', href='#')
                              | &#8249;
                        li
                           span.pagination__page.btn-squae.active 1
                        li
                           a.pagination__page.btn-squae(href='#') 2
                        li
                           a.pagination__page.btn-squae(href='#')
                              | ...
                        li
                           a.pagination__page.btn-squae(href='#') 14
                        li
                           a.pagination__next.btn-squae(rel='next', href='#')
                              | &#8250;

            #education.tab-pane.fade(role='tabpanel')
               .style-show.style-grid.row
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-80
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/categories/categories-4.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-60
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less

                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/categories/categories-1.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-20
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-2.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-30
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-3.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-70
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-4.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-80
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-1.jpg' alt='')

                  nav.pagination.col-md-12
                     ul.pagination__list
                        li
                           a.pagination__previous.btn-squae.disable(rel='prev', href='#')
                              | &#8249;
                        li
                           span.pagination__page.btn-squae.active 1
                        li
                           a.pagination__page.btn-squae(href='#') 2
                        li
                           a.pagination__page.btn-squae(href='#')
                              | ...
                        li
                           a.pagination__page.btn-squae(href='#') 14
                        li
                           a.pagination__next.btn-squae(rel='next', href='#')
                              | &#8250;
            #building.tab-pane.fade(role='tabpanel')
               .style-show.style-grid.row
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-10
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-3.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-90
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-4.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-10
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-1.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-60
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/categories/categories-4.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-10
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less

                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/categories/categories-1.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-50
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-2.jpg' alt='')
                  nav.pagination.col-md-12
                     ul.pagination__list
                        li
                           a.pagination__previous.btn-squae.disable(rel='prev', href='#')
                              | &#8249;
                        li
                           span.pagination__page.btn-squae.active 1
                        li
                           a.pagination__page.btn-squae(href='#') 2
                        li
                           a.pagination__page.btn-squae(href='#')
                              | ...
                        li
                           a.pagination__page.btn-squae(href='#') 14
                        li
                           a.pagination__next.btn-squae(rel='next', href='#')
                              | &#8250;
            #teachers.tab-pane.fade(role='tabpanel')
               .style-show.style-grid.row
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-60
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-3.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-70
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-4.jpg' alt='')

                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-20
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less

                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/categories/categories-1.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-10
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-2.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-90
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-1.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-100
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/categories/categories-4.jpg' alt='')
                  nav.pagination.col-md-12
                     ul.pagination__list
                        li
                           a.pagination__previous.btn-squae.disable(rel='prev', href='#')
                              | &#8249;
                        li
                           span.pagination__page.btn-squae.active 1
                        li
                           a.pagination__page.btn-squae(href='#') 2
                        li
                           a.pagination__page.btn-squae(href='#')
                              | ...
                        li
                           a.pagination__page.btn-squae(href='#') 14
                        li
                           a.pagination__next.btn-squae(rel='next', href='#')
                              | &#8250;
            #students.tab-pane.fade(role='tabpanel')
               .style-show.style-grid.row
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-10
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less

                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-1.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-80
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-2.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-20
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-3.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-60
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-4.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-20
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-1.jpg' alt='')
                  .col-style
                     .edugate-layout-2
                        .edugate-layout-2-wrapper
                           .edugate-content
                              a(href="courses-detail.html").title
                                 | Photoghaphy Master
                              .info
                                 .author.item
                                    a(href='#') By Admin
                                 .date-time.item
                                    a(href='#') 17 sep 2015
                              .info-more
                                 .view.item
                                    i.fa.fa-user
                                    p  56
                                 .comment.item
                                    i.fa.fa-comment
                                    p  239
                              .star-rating(title='Rated 5.00 out of 5')
                                 span.width-40
                                    strong.rating 5.00
                                    |  out of 5
                              .description
                                 | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less
                              button.btn.btn-green
                                 span learn now
                           .edugate-image
                              img.img-responsive(src='assets/images/courses/courses-2.jpg' alt='')
                  nav.pagination.col-md-12
                     ul.pagination__list
                        li
                           a.pagination__previous.btn-squae.disable(rel='prev', href='#')
                              | &#8249;
                        li
                           span.pagination__page.btn-squae.active 1
                        li
                           a.pagination__page.btn-squae(href='#') 2
                        li
                           a.pagination__page.btn-squae(href='#')
                              | ...
                        li
                           a.pagination__page.btn-squae(href='#') 14
                        li
                           a.pagination__next.btn-squae(rel='next', href='#')
                              | &#8250;