.section.background-opacity.page-title.set-height-top
   .container
      .page-title-wrapper
         //.page-title-content
         h2.captions
            | news & update
         ol.breadcrumb
            li
               a(href='index.html') Home
            li.active
               a(href='#') News
.section.nav-subscribe
   .container
      .nav-subscribe-wrapper
         .nav-subscribe-left
            p.subscribe-text Subscribe <b class="focus">Edugate</b> to learn new creative skill
         .nav-subscribe-right
            button.btn.btn-green.btn-bold
               span SUBSCRIBE NOW
.section.section-padding.news-page
   .container
      .row
         .col-md-9
            .news-page-wrapper
               .edugate-layout-1
                  .edugate-image
                     img.img-responsive(src='assets/images/news/news-1.jpg' alt='')
                  .edugate-content
                     a(href='news-detail.html').title
                        | E-Learn 2015 - World Conference on Edugate Website
                     .info
                        .author.item
                           a(href='#') By Admin
                        .date-time.item
                           a(href='#') 17 sep 2015
                     .info-more
                        .view.item
                           i.fa.fa-user
                           p  56
                        .comment.item
                           i.fa.fa-comment
                           p  239
                     .description
                        | Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.
                     button.btn.btn-green
                        span read more
               .edugate-layout-1
                  .edugate-image
                     img.img-responsive(src='assets/images/news/news-2.jpg' alt='')
                  .edugate-content
                     a(href='news-detail.html').title
                        | E-Learn 2015 - World Conference on Edugate Website
                     .info
                        .author.item
                           a(href='#') By Admin
                        .date-time.item
                           a(href='#') 17 sep 2015
                     .info-more
                        .view.item
                           i.fa.fa-user
                           p  56
                        .comment.item
                           i.fa.fa-comment
                           p  239
                     .description
                        | Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.
                     button.btn.btn-green
                        span read more
               .edugate-layout-1
                  .edugate-image
                     img.img-responsive(src='assets/images/news/news-3.jpg' alt='')
                  .edugate-content
                     a(href='news-detail.html').title
                        | E-Learn 2015 - World Conference on Edugate Website
                     .info
                        .author.item
                           a(href='#') By Admin
                        .date-time.item
                           a(href='#') 17 sep 2015
                     .info-more
                        .view.item
                           i.fa.fa-user
                           p  56
                        .comment.item
                           i.fa.fa-comment
                           p  239
                     .description
                        | Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.
                     button.btn.btn-green
                        span read more
               .edugate-layout-1
                  .edugate-image
                     img.img-responsive(src='assets/images/news/news-4.jpg' alt='')
                  .edugate-content
                     a(href='news-detail.html').title
                        | E-Learn 2015 - World Conference on Edugate Website
                     .info
                        .author.item
                           a(href='#') By Admin
                        .date-time.item
                           a(href='#') 17 sep 2015
                     .info-more
                        .view.item
                           i.fa.fa-user
                           p  56
                        .comment.item
                           i.fa.fa-comment
                           p  239
                     .description
                        | Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.
                     button.btn.btn-green
                        span read more
               .edugate-layout-1
                  .edugate-image
                     img.img-responsive(src='assets/images/news/news-5.jpg' alt='')
                  .edugate-content
                     a(href='news-detail.html').title
                        | E-Learn 2015 - World Conference on Edugate Website
                     .info
                        .author.item
                           a(href='#') By Admin
                        .date-time.item
                           a(href='#') 17 sep 2015
                     .info-more
                        .view.item
                           i.fa.fa-user
                           p  56
                        .comment.item
                           i.fa.fa-comment
                           p  239
                     .description
                        | Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.
                     button.btn.btn-green
                        span read more
            .row
               nav.pagination.col-md-12
                  ul.pagination__list
                     li
                        a.pagination__previous.btn-squae.disable(rel='prev', href='#')
                           | &#8249;
                     li
                        span.pagination__page.btn-squae.active 1
                     li
                        a.pagination__page.btn-squae(href='#') 2
                     li
                        a.pagination__page.btn-squae(href='#')
                           | ...
                     li
                        a.pagination__page.btn-squae(href='#') 14
                     li
                        a.pagination__next.btn-squae(rel='next', href='#')
                           | &#8250;
         .col-md-3.sidebar
            .row
               .recent-post-widget.widget.col-sm-6.col-md-12.col-xs-6.sd380
                  .title-widget
                     | recent post
                  .content-widget
                     !=partial("_includes/recent-post-widget")
               .popular-course-widget.widget.col-sm-6.col-md-12.col-xs-6.sd380
                  .title-widget
                     | popular courses
                  .content-widget
                     !=partial("_includes/popular-courses-widget")
               .clearfix
               .category-widget.widget.col-sm-6.col-md-12.col-xs-6.sd380
                  .title-widget
                     | categories
                  .content-widget
                     !=partial("_includes/categories-widget")
               .tag-widget.widget.col-sm-6.col-md-12.col-xs-6.sd380
                  .title-widget
                     | tags
                  .content-widget
                     !=partial("_includes/tags-widget")
               .clearfix



