ul.category-widget.list-unstyled
	li
		a(href="categories.html").cat-item
			.pull-left Web Design
			.pull-right 125
	li
		a(href="categories.html").cat-item
			.pull-left Wordpress Themes
			.pull-right 97
	li
		a(href="categories.html").cat-item
			.pull-left Photography
			.pull-right 56
	li
		a(href="categories.html").cat-item
			.pull-left Video
			.pull-right 24
	li
		a(href="categories.html").cat-item
			.pull-left Miscellaneous
			.pull-right 13