h1.course-title
	| GETTING STARTED WITH DJANGO
.course-info.info
	.author.item
		a(href='#') 
			span By&nbsp;
			span Emma Watson
	.date-time.item
		a(href='#') 20 Aug 2015
.course-video
	iframe(src="https://www.youtube.com/embed/xo1VInw-SKc?list=PL7JgdmQ0zTfatnGhUnRBnhMwYEraSIRdD", allowfullscreen)
	.video-btn
		button.btn.btn-grey.video-btn-right.pull-right
			span next lesson
			i.fa.fa-angle-right
		button.btn.btn-grey.video-btn-left.pull-right
			i.fa.fa-angle-left
			span previous lesson
	.clearfix
.course-des
	.course-des-title.underline Courses Info
	.course-des-content
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius ultricies metus. Donec ac ex porta libero venenatis sodales. Sed efficitur eget risus sed molestie. Nulla blandit bibendum metus ut sagittis. Etiam quis semper justo. Sed tristique facilisis felis ut tincidunt. Phasellus auctor convallis nisl ut accumsan. Suspendisse ullamcorper fermentum lectus, vel tincidunt ligula mollis sit amet. Aliquam at ante at elit efficitur tincidunt a quis neque. Donec ut pulvinar metus. Pellentesque lobortis volutpat eros sed sagittis. Nunc rutrum ex eu auctor tristique. Maecenas suscipit vestibulum nunc nec placerat. Phasellus blandit augue nunc, consequat consectetur augue placerat sed. Aenean fermentum scelerisque lectus, sit amet ultricies ex interdum bibendum. Quisque porttitor, enim maximus convallis gravida, dui arcu lacinia libero, quis ornare nibh elit pharetra massa.
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius ultricies metus. Donec ac ex porta libero venenatis sodales. Sed efficitur eget risus sed molestie. Nulla blandit bibendum metus ut sagittis. Etiam quis semper justo. Sed tristique facilisis felis ut tincidunt. Phasellus auctor convallis nisl ut accumsan. Suspendisse ullamcorper fermentum lectus, vel tincidunt ligula mollis sit amet. Aliquam at ante at elit efficitur tincidunt a quis neque. Donec ut pulvinar metus. Pellentesque lobortis volutpat eros sed sagittis.
		blockquote
			.main-quote Video courses to build new skills from start to finish.
			.sub-quote Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.
			footer Amber Ivy&nbsp;  <small>(Grancie Company)</small>
	.news-list
		.list-expand-title Requirements
		.row
			.col-md-6.col-sm-6.col-xs-6
				ul.list-unstyled.list-detail
					li
						i.fa.fa-angle-right
						a(href="#") Phasellus sit amet velit auctor turpis rhoncus.
					li
						i.fa.fa-angle-right
						a(href="#") Phasellus sed dolor sodales, eleifend ipsum eu.
					li
						i.fa.fa-angle-right
						a(href="#") Nullam id dolor in ex eleifend tempus.
					li
						i.fa.fa-angle-right
						a(href="#") Etiam id lorem vel neque faucibus fermentum.
					li
						i.fa.fa-angle-right
						a(href="#") Nunc tincidunt augue in enim sollicitudin feugiat.
			.col-md-6.col-sm-6.col-xs-6
				ul.list-unstyled.list-detail
					li
						i.fa.fa-angle-right
						a(href="#") Phasellus sit amet velit auctor turpis rhoncus.
					li
						i.fa.fa-angle-right
						a(href="#") Phasellus sed dolor sodales, eleifend ipsum eu.
					li
						i.fa.fa-angle-right
						a(href="#") Nullam id dolor in ex eleifend tempus.
					li
						i.fa.fa-angle-right
						a(href="#") Etiam id lorem vel neque faucibus fermentum.
					li
						i.fa.fa-angle-right
						a(href="#") Nunc tincidunt augue in enim sollicitudin feugiat.
.course-syllabus
	.course-syllabus-title.underline Courses syllabus
	.course-table
		.outer-container
			.inner-container
				.table-header
					table.edu-table-responsive
						thead
							tr.heading-table
								th.col-1 title
								th.col-2 estimate time
								th.col-3 spent time
								th.col-4 status
				.table-body
					table.edu-table-responsive.table-hover
						tbody
							tr.heading-content
								td(colspan="4").left.heading-content 1. Introduction
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 1.1 Introduction
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
									i.w20.fa.fa-clock-o
									span 40:20
								td.green-color.col-4
									i.w27.fa.fa-check-square
									span Complete
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 1.1 Creating your project
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
									i.w20.fa.fa-clock-o
									span 20:20
								td.bold-color.col-4
									i.w27.fa.fa-pencil-square-o
									span Learning
							tr.table-row
								td.left.col-1
									a(href="#")
										i.mr18.fa.fa-file-text
										span 1.1 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.col-4
									.bg-yellow FREE
							tr.table-row
								td.left.col-1
									a(href="#")
										i.mr18.fa.fa-file-text
										span 1.1 Introduction
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color.col-4
									i.w27.fa.fa-lock
									span Private
							tr.spacing-table
								td(colspan="4")
							tr.heading-content
								td(colspan="4").left.heading-content 2. Creating your project
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 2.1 Introduction
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
									i.w20.fa.fa-clock-o
									span 40:20
								td.green-color.col-4
									i.w27.fa.fa-check-square
									span Complete
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 2.2 Creating your project
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
									i.w20.fa.fa-clock-o
									span 20:20
								td.bold-color.col-4
									i.w27.fa.fa-pencil-square-o
									span Learning
							tr.table-row
								td.left.col-1
									a(href="#")
										i.mr18.fa.fa-file-text
										span 2.3 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.col-4
									.bg-yellow FREE
							tr.table-row
								td.left.col-1
									a(href="#")
										i.mr18.fa.fa-file-text
										span 2.4 Introduction
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color.col-4
									i.w27.fa.fa-lock
									span Private
							tr.table-row
								td.left.col-1
									a(href="#")
										i.mr18.fa.fa-file-text
										span 2.5 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color.col-4
									i.w27.fa.fa-lock
									span Private
							tr.table-row
								td.left.col-1
									a(href="#")
										i.mr18.fa.fa-file-text
										span 2.6 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.col-4
									.bg-yellow FREE
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 2.7 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color.col-4
									i.w27.fa.fa-lock
									span Private
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 2.8 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color.col-4
									i.w27.fa.fa-lock
									span Private
							tr.spacing-table
								td(colspan="4")
							tr.heading-content
								td(colspan="4").left.heading-content 3. Creating your apps
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 3.1 Introduction
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
									i.w20.fa.fa-clock-o
									span 40:20
								td.green-color.col-4
									i.w27.fa.fa-check-square
									span Complete
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 3.2 Creating your project
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
									i.w20.fa.fa-clock-o
									span 20:20
								td.bold-color.col-4
									i.w27.fa.fa-pencil-square-o
									span Learning
							tr.table-row
								td.left.col-1
									a(href="#")
										i.mr18.fa.fa-file-text
										span 3.3 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.col-4
									.bg-yellow FREE
							tr.table-row
								td.left.col-1
									a(href="#")
										i.mr18.fa.fa-file-text
										span 3.4 Introduction
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color.col-4
									i.w27.fa.fa-lock
									span Private
							tr.table-row
								td.left.col-1
									a(href="#")
										i.mr18.fa.fa-file-text
										span 3.5 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color.col-4
									i.w27.fa.fa-lock
									span Private
							tr.table-row
								td.left.col-1
									a(href="#")
										i.mr18.fa.fa-file-text
										span 3.6 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.col-4
									.bg-yellow FREE
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 3.7 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color
									i.w27.fa.fa-lock
									span Private
							tr.table-row.col-4
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 3.8 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color.col-4
									i.w27.fa.fa-lock
									span Private
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 3.9 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color.col-4
									i.w27.fa.fa-lock
									span Private
							tr.table-row
								td.left.col-1
									a(href="#")
										i.bg-green.mr25.fa.fa-caret-right
										span 3.10 Document setup and background
								td.col-2
									i.w20.fa.fa-clock-o
									span 50:20
								td.col-3
								td.bolder-color.col-4
									i.w27.fa.fa-lock
									span Private