.course-price-widget-wrapper
	.row
		.col-md-12.info-row.col-sm-12.col-xs-12
			.pull-left.title Length:
			.pull-right.length 4.2
		.col-md-12.info-row.col-sm-12.col-xs-12
			.pull-left.title Level:
			.pull-right.level Advanced
		.col-md-12.info-row.col-sm-12.col-xs-12
			.pull-left.title Finished:
			.pull-right.firgue 42
		.col-md-12.info-row.col-sm-12.col-xs-12
			.pull-left.title Rate:
			.pull-right.star-rating(title='Rated 5.00 out of 5')
				span.width-80
					strong.rating 5.00
					|  out of 5
	button.btn.btn-green
		span join now