p Edugate is a great start for an education personnel or organization to start the online business with 1 Click.
.info-list
	ul.list-unstyled
		li
			i.fa.fa-envelope-o
			a(href="#") hello@edugate.com
		li
			i.fa.fa-phone
			a(href="#") P: 3333 222 1111
		li
			i.fa.fa-map-marker
			a(href="#") 
				p 99 Barnard St - Suite 111
				p United States - GA 22222