.gallery-list
	a.thumb(href="#")
		img.img-responsive(src="assets/images/gallery/gallery-01.jpg", alt="")
	a.thumb(href="#")
		img.img-responsive(src="assets/images/gallery/gallery-02.jpg", alt="")
	a.thumb(href="#")
		img.img-responsive(src="assets/images/gallery/gallery-03.jpg", alt="")
	a.thumb(href="#")
		img.img-responsive(src="assets/images/gallery/gallery-04.jpg", alt="")
	a.thumb(href="#")
		img.img-responsive(src="assets/images/gallery/gallery-05.jpg", alt="")
	a.thumb(href="#")
		img.img-responsive(src="assets/images/gallery/gallery-06.jpg", alt="")
	a.thumb(href="#")
		img.img-responsive(src="assets/images/gallery/gallery-07.jpg", alt="")
	a.thumb(href="#")
		img.img-responsive(src="assets/images/gallery/gallery-08.jpg", alt="")
.clearfix
a.view-more(href="#") View more&nbsp;
	i.fa.fa-angle-double-right.mls