.media
	.media-left
		a(href="courses-detail.html")
			img.media-image(src="assets/images/popular/popular-1.jpg", alt="")
	.media-right
		.cur 35
		a.title(href="courses-detail.html")
			p Adobe Lightroom CC for Photographers
		.info
			.author.item
				a(href="#")
					span By Sandara
.media
	.media-left
		a(href="courses-detail.html")
			img.media-image(src="assets/images/popular/popular-2.jpg", alt="")
	.media-right
		.cur 40
		a.title(href="courses-detail.html")
			p Adobe Lightroom CC for Photographers
		.info
			.author.item
				a(href="#")
					span By Sandara
.media
	.media-left
		a(href="courses-detail.html")
			img.media-image(src="assets/images/popular/popular-3.jpg", alt="")
	.media-right
		.cur 34
		a.title(href="courses-detail.html")
			p Adobe Lightroom CC for Photographers
		.info
			.author.item
				a(href="#")
					span By Sandara
.media
	.media-left
		a(href="courses-detail.html")
			img.media-image(src="assets/images/popular/popular-4.jpg", alt="")
	.media-right
		.cur 27
		a.title(href="courses-detail.html")
			p Adobe Lightroom CC for Photographers
		.info
			.author.item
				a(href="#")
					span By Sandara