.media
	.media-left
		a(href="#")
			img.media-image(src="assets/images/recent-post/recent-post-1.jpg", alt="")
	.media-right
		.info
			.date-created.item
				a(href="#")
					span Aug 18, 2015
		a.comment(href="#")
			i.fa.fa-comment
			span 3
		a.title(href="#")
			p Build a  Microblogging App With Flux and React
.media
	.media-left
		a(href="#")
			img.media-image(src="assets/images/recent-post/recent-post-2.jpg", alt="")
	.media-right
		.info
			.date-created.item
				a(href="#")
					span Aug 18, 2015
		a.comment(href="#")
			i.fa.fa-comment
			span 3
		a.title(href="#")
			p Build a  Microblogging App With Flux and React
.media
	.media-left
		a(href="#")
			img.media-image(src="assets/images/recent-post/recent-post-3.jpg", alt="")
	.media-right
		.info
			.date-created.item
				a(href="#")
					span Aug 18, 2015
		a.comment(href="#")
			i.fa.fa-comment
			span 3
		a.title(href="#")
			p Build a  Microblogging App With Flux and React
.media
	.media-left
		a(href="#")
			img.media-image(src="assets/images/recent-post/recent-post-4.jpg", alt="")
	.media-right
		.info
			.date-created.item
				a(href="#")
					span Aug 18, 2015
		a.comment(href="#")
			i.fa.fa-comment
			span 3
		a.title(href="#")
			p Build a  Microblogging App With Flux and React