ul.tag-widget.list-unstyled
   li
      a(href="#").tag-item Software
   li
      a(href="#").tag-item Music
   li
      a(href="#").tag-item Photography
   li
      a(href="#").tag-item Communication
   li
      a(href="#").tag-item Tutorial
   li
      a(href="#").tag-item Biology
   li
      a(href="#").tag-item Photoshop
   li
      a(href="#").tag-item Economics
   li
      a(href="#").tag-item Statistics