.useful-link-list
	.row
		.col-md-6.col-sm-6.col-xs-6
			ul.list-unstyled
				li
					i.fa.fa-angle-right
					a(href="#") Teachers
				li
					i.fa.fa-angle-right
					a(href="#") Courses
				li
					i.fa.fa-angle-right
					a(href="#") Support
				li
					i.fa.fa-angle-right
					a(href="#") Why Edugate
				li
					i.fa.fa-angle-right
					a(href="#") Social Media
				li
					i.fa.fa-angle-right
					a(href="#") Site Map
		.col-md-6.col-sm-6.col-xs-6
			ul.list-unstyled
				li
					i.fa.fa-angle-right
					a(href="#") Company
				li
					i.fa.fa-angle-right
					a(href="#") Latest Courses
				li
					i.fa.fa-angle-right
					a(href="#") Partners
				li
					i.fa.fa-angle-right
					a(href="#") Blog Post
				li
					i.fa.fa-angle-right
					a(href="#") Help Topic
				li
					i.fa.fa-angle-right
					a(href="#") Policies